@import "tailwindcss";

@theme {
  --color-background: #f8fafc;
  --color-column-bg: #f1f5f9;
  --color-card-bg: #ffffff;
  --color-brand: #2563eb;
  --color-todo: #3b82f6;
  --color-progress: #f97316;
  --color-review: #a855f7;
  --color-done: #22c55e;
  --color-high-text: #ef4444;
  --color-high-bg: #fee2e2;
  --color-medium-text: #f97316;
  --color-medium-bg: #ffedd5;
  --color-low-text: #64748b;
  --color-low-bg: #f1f5f9;
  --color-text-main: #1e293b;
  --color-text-muted: #64748b;
}